<footer class="portfolio-footer-global-main-wrapper-container" id="contacto">
    <div class="portfolio-footer-call-to-action-outer-structure-container">
        <div class="portfolio-footer-call-to-action-inner-content-flex-container">
            <p class="portfolio-footer-call-to-action-primary-title-text">
                Disponible para nuevas oportunidades
            </p>

            <p class="portfolio-footer-call-to-action-secondary-description-text">
                Busco formar parte de un equipo donde pueda contribuir con mis habilidades en desarrollo web y seguir
                aprendiendo.
            </p>
            <div class="portfolio-footer-call-to-action-primary-interactive-container-button">
                <a class="portfolio-footer-call-to-action-primary-interactive-button-element"
                    href="https://wa.me/+51930628528">
                    Trabajemos juntos
                </a>
            </div>
        </div>
    </div>

    <div class="portfolio-footer-form-wrapper-container" id="form">
        <div class="portfolio-footer-form-inner-content-flex-container">
            <form class="portfolio-footer-contact">
                <div class="form-grid">

                    <input type="text" name="empresa" ngModel required placeholder="Empresa / Reclutador">

                    <input type="text" name="nombre" ngModel required placeholder="Nombre completo">

                    <input type="email" name="email" ngModel required placeholder="Correo electrónico">

                    <select name="tipo" ngModel required>
                        <option value="" disabled selected>Tipo de contrato</option>
                        <option value="junior">Junior</option>
                        <option value="Fulltime">FullTime</option>
                        <option value="freelance">Freelance</option>
                    </select>

                </div>
                <textarea name="mensaje" ngModel rows="4"
                    placeholder="Cuéntame sobre la oportunidad de trabajo"></textarea>

                <button type="submit">
                    Enviar mensaje
                </button>
            </form>
        </div>
    </div>

    <div class="portfolio-footer-bottom-legal-and-social-media-wrapper-container">

        <div class="portfolio-footer-bottom-legal-and-social-media-inner-flex-alignment-container">

            <div class="portfolio-footer-bottom-copyright-textual-information-container">
                <strong>©</strong>
                <span>
                    2026 Joe Cueva
                </span>
            </div>

            <div class="portfolio-footer-bottom-social-media-icon-links-flex-container">

                <a href="https://www.linkedin.com/in/joes-cueva-977839307/" target="_blank"
                    class="portfolio-footer-bottom-social-media-interactive-icon-anchor-element"
                    data-tooltip="LinkedIn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                        fill="currentColor">
                        <path
                            d="M20.447 20.452h-3.554v-5.569c0-1.328-.025-3.037-1.849-3.037-1.851 0-2.134 1.445-2.134 2.939v5.667H9.356V9h3.414v1.561h.049c.476-.9 1.637-1.849 3.37-1.849 3.604 0 4.27 2.372 4.27 5.455v6.285zM5.337 7.433a2.063 2.063 0 1 1 0-4.126 2.063 2.063 0 0 1 0 4.126zM6.814 20.452H3.861V9h2.953v11.452zM22.225 0H1.771C.792 0 0 .771 0 1.723v20.554C0 23.229.792 24 1.771 24h20.451C23.2 24 24 23.229 24 22.277V1.723C24 .771 23.2 0 22.222 0z" />
                    </svg>
                </a>

                <a href="https://github.com/JoeCueva" target="_blank"
                    class="portfolio-footer-bottom-social-media-interactive-icon-anchor-element" data-tooltip="Github">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                        fill="currentColor">
                        <path
                            d="M12 .5C5.65.5.5 5.65.5 12c0 5.08 3.29 9.38 7.86 10.9.58.1.79-.25.79-.56 0-.28-.01-1.2-.02-2.17-3.2.7-3.88-1.54-3.88-1.54-.53-1.33-1.29-1.68-1.29-1.68-1.05-.72.08-.7.08-.7 1.16.08 1.77 1.2 1.77 1.2 1.03 1.76 2.7 1.25 3.36.96.1-.75.4-1.25.73-1.54-2.56-.29-5.25-1.28-5.25-5.71 0-1.26.45-2.28 1.2-3.08-.12-.29-.52-1.47.11-3.07 0 0 .98-.31 3.2 1.18a11.1 11.1 0 0 1 5.83 0c2.22-1.5 3.2-1.18 3.2-1.18.63 1.6.23 2.78.11 3.07.75.8 1.2 1.82 1.2 3.08 0 4.44-2.69 5.41-5.26 5.7.41.35.78 1.05.78 2.13 0 1.54-.01 2.78-.01 3.16 0 .31.21.67.8.56A11.5 11.5 0 0 0 23.5 12C23.5 5.65 18.35.5 12 .5z" />
                    </svg>
                </a>

                <a href="instalaciones240@gmail.com"
                    class="portfolio-footer-bottom-social-media-interactive-icon-anchor-element" data-tooltip="Email">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                        fill="currentColor">
                        <path d="M12 13.065 2 6.5V18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.5l-10 6.565z" />
                        <path d="M12 11 22 4H2l10 7z" />
                    </svg>
                </a>

            </div>

        </div>

    </div>

</footer>