<footer class="portfolio-footer-global-main-wrapper-container" id="contacto">
    <div class="portfolio-footer-call-to-action-outer-structure-container">
        <div class="portfolio-footer-call-to-action-inner-content-flex-container">
            <p class="portfolio-footer-call-to-action-primary-title-text">
                Disponible para nuevas oportunidades
            </p>

            <p class="portfolio-footer-call-to-action-secondary-description-text">
                Busco formar parte de un equipo donde pueda contribuir con mis habilidades en desarrollo web y seguir
                aprendiendo.
            </p>

            <a class="portfolio-footer-call-to-action-primary-interactive-button-element" href="https://wa.me/+51930628528">
                Hablemos
            </a>
        </div>
    </div>

    <div class="portfolio-footer-bottom-legal-and-social-media-wrapper-container">

        <div class="portfolio-footer-bottom-legal-and-social-media-inner-flex-alignment-container">

            <div class="portfolio-footer-bottom-copyright-textual-information-container">
                <strong>©</strong>
                <span>
                    2026 Joe Cueva
                </span>
            </div>

            <div class="portfolio-footer-bottom-social-media-icon-links-flex-container">

                <a href="https://wa.me/+51930628528" target="_blank"
                    class="portfolio-footer-bottom-social-media-interactive-icon-anchor-element" data-tooltip="WhatsApp">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22"
                        fill="currentColor">
                        <path
                            d="M16 .396C7.163.396 0 7.56 0 16.396c0 2.877.754 5.574 2.068 7.91L.37 31.604l7.494-1.66a15.93 15.93 0 0 0 8.136 2.22c8.837 0 16-7.163 16-16S24.837.396 16 .396zm0 29.09a13.01 13.01 0 0 1-6.62-1.81l-.47-.28-4.45.98.95-4.33-.31-.45a12.97 12.97 0 0 1-2-6.2c0-7.18 5.84-13.02 13.02-13.02s13.02 5.84 13.02 13.02-5.84 13.02-13.02 13.02zm7.19-9.69c-.39-.19-2.3-1.13-2.66-1.26-.36-.13-.62-.19-.88.19-.26.39-1 1.26-1.23 1.52-.23.26-.45.29-.84.1-.39-.19-1.64-.6-3.12-1.9-1.15-1.02-1.92-2.28-2.15-2.67-.23-.39-.02-.6.17-.79.17-.17.39-.45.58-.68.19-.23.26-.39.39-.65.13-.26.06-.49-.03-.68-.1-.19-.88-2.13-1.2-2.92-.31-.75-.63-.65-.88-.66h-.75c-.26 0-.68.1-1.04.49-.36.39-1.37 1.34-1.37 3.26 0 1.92 1.4 3.78 1.59 4.04.19.26 2.75 4.2 6.66 5.89.93.4 1.66.64 2.23.82.94.3 1.8.26 2.48.16.76-.11 2.3-.94 2.63-1.84.33-.9.33-1.67.23-1.84-.1-.16-.36-.26-.75-.45z" />
                    </svg>
                </a>

                <a href="https://github.com/JoeCueva" target="_blank"
                    class="portfolio-footer-bottom-social-media-interactive-icon-anchor-element" data-tooltip="Github">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                        fill="currentColor">
                        <path
                            d="M12 .5C5.65.5.5 5.65.5 12c0 5.08 3.29 9.38 7.86 10.9.58.1.79-.25.79-.56 0-.28-.01-1.2-.02-2.17-3.2.7-3.88-1.54-3.88-1.54-.53-1.33-1.29-1.68-1.29-1.68-1.05-.72.08-.7.08-.7 1.16.08 1.77 1.2 1.77 1.2 1.03 1.76 2.7 1.25 3.36.96.1-.75.4-1.25.73-1.54-2.56-.29-5.25-1.28-5.25-5.71 0-1.26.45-2.28 1.2-3.08-.12-.29-.52-1.47.11-3.07 0 0 .98-.31 3.2 1.18a11.1 11.1 0 0 1 5.83 0c2.22-1.5 3.2-1.18 3.2-1.18.63 1.6.23 2.78.11 3.07.75.8 1.2 1.82 1.2 3.08 0 4.44-2.69 5.41-5.26 5.7.41.35.78 1.05.78 2.13 0 1.54-.01 2.78-.01 3.16 0 .31.21.67.8.56A11.5 11.5 0 0 0 23.5 12C23.5 5.65 18.35.5 12 .5z" />
                    </svg>
                </a>

                <a href="instalaciones240@gmail.com"
                    class="portfolio-footer-bottom-social-media-interactive-icon-anchor-element" data-tooltip="Email">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                        fill="currentColor">
                        <path d="M12 13.065 2 6.5V18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6.5l-10 6.565z" />
                        <path d="M12 11 22 4H2l10 7z" />
                    </svg>
                </a>

            </div>

        </div>

    </div>

</footer>